html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.fullpage {
  padding-bottom: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  /* -webkit-flex-direction: column; */
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-list {}

.nav .list-item {
  display: inline;
  padding: 40px;
}

.nav {}

.fullpage .main-header {
  min-width: 0;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.project-title {}

.project-image {
  width: 200px;
  height: 250px;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

.projects-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header {}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.code {}

#profile-link {}

#navbar {
  display: inline;
  position: fixed;
  background-color: darkred;
  width: 100%;
  top: 0px;
}

#navbar ul {
  display: inline;
  float: right;
  color: white;
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

* {
  margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
}

header {
  display: block;
}

body {
  /* display: -webkit-box; */
  /* display: -webkit-flex; */
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  /* -webkit-box-direction: normal; */
  /* -webkit-flex-direction: column; */
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 30px;
}

html {
  font-family: var(--cp-font-family);
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

div {
  display: block;
}
